{% extends "base.html" %}{% load staticfiles %}

{% block content %}<h1>Aufsichten im {{cur_term}}</h1>
<table>
    <tr><th>Name</th><th>Dozent</th><th>Datum</th><th>Zeit</th><th>Raum</th><th>Aufsichten</th><th>Vertretungen</th></tr>
  {% for exam in examination_list %}
  <tr class="{% cycle 'oddrow' 'evenrow' %}{% if exam.signup_needed %}  highlight{%endif%}">
    <td><emph><a href="{{exam.get_absolute_url}}">{{exam.subject}}</a></emph></td>
    <td><a href="{% url "person_detail" username=exam.lecturer %}">{{exam.lecturer.last_name}}</a></td>
    <td>{{ exam.starttime|date:"SHORT_DATE_FORMAT" }}</td>
    <td>{{exam.starttime|date:"H:i"}}-{{exam.endtime|date:"H:i"}}</td>
    <td>{{exam.rooms}}</td><td>{{exam.supervision_set.all.count}} / {{exam.num_supervisors}}{% if exam.signup_needed %}<br/><span class="button"><a href="{% url "exam_signup" ex=exam.id %}?next=exam_list">SIGNUP <img style="position:fixed;" src="{% static "img/signup.svg" %}" alt="Pen" title="Click to sign up for supervision" height="40px" align="right"></a></span>{%endif%}</td>
    <td{% if exam.backups_needed %} class="highlight"{%endif%}>{{exam.backup_set.all.count}} / {{exam.num_backups}}{% if exam.backups_needed %}<br/><span class="button"><a href="{% url "backup_signup" ex=exam.id %}?next=exam_list">SIGNUP <img style="position:fixed;" src="{% static "img/signup.svg" %}" alt="Pen" title="Click to sign up for supervision" height="40px" align="right"></a></span>{%endif%}</td>
  </tr>
  {% empty %}
    No Examinations added yet.
  {% endfor %}
  </table>
{% endblock %}

