{% extends "base.html" %}{% load staticfiles %}{% load helper_tags %}

{% block content %}{% url "exam_detail" pk=examination.id as exam_url %}<h1>{{examination}}</h1>
<table>
    <tr><th>Name</th><th>Dozent</th><th>Datum</th><th>Zeit</th><th>Dauer (Min)</th><th>Raum</th><th>Aufsichten</th><th>Vertretungen</th></tr>
  <tr class="{% cycle 'oddrow' 'evenrow' %}"><td>{{examination.subject}}</td><td><a href="{% url "person_detail" examination.lecturer.username %}">{{examination.lecturer.last_name}}</a></td><td>{{ examination.starttime|date:"SHORT_DATE_FORMAT" }}</td><td>{{examination.starttime|time:"H:i"}}-{{examination.endtime|time:"H:i"}}</td><td>{{examination.duration}}</td><td>{{examination.rooms}}</td><td{% if examination.signup_needed %} class="highlight"{%endif%}>{{examination.supervision_set.all.count}} / {{examination.num_supervisors}} {% if examination.signup_needed %}<span class="button"><a href="{% url "exam_signup" ex=examination.id %}?next={% url 'exam_detail' pk=examination.id %}">SIGNUP <img style="position:fixed;" src="{% static "img/signup.svg" %}" alt="Pen" title="Click to sign up for supervision" height="40px" align="right"></a></span>{%endif%}</td><td{% if examination.backups_needed %} class="highlight"{%endif%}>{{examination.backup_set.all.count}} / {{examination.num_backups}} {% if examination.backups_needed %}<span class="button"><a href="{% url "backup_signup" ex=examination.id %}?next={% url 'exam_detail' pk=examination.id %}">SIGNUP <img style="position:fixed;" src="{% static "img/signup.svg" %}" alt="Pen" title="Click to sign up for backup supervision" height="40px" align="right"></a></span>{%endif%}</td></tr>
</table>
<h2>Aufsichten</h2>

{% with supervisors=examination.supervision_set.all %}
{% for row in examination.num_supervisors|get_range %}
<span class="{% cycle 'oddrow' 'evenrow' %}">
{% if forloop.counter0 < supervisors|length %}
    {% with s=supervisors|get_at_index:forloop.counter0 %}
      <a href="{% url "person_detail" username=s.person %}">{{s.person.get_nice_name}} </a> <a href="{% url "supervision_cancel" ex=s.Examination.id pk=s.id %}?next={{ exam_url|urlencode }}"><img src="{% static "img/trash.svg" %}" alt="Trashcan" title="Click to cancel supervision" height="40px" ></a>
    {% endwith %}
  {% else  %}
      <span{% if examination.signup_needed %} class="highlight"{%endif%}><span class="button"><a href="{% url "exam_signup" ex=examination.id %}?next={% url 'exam_detail' pk=examination.id %}">SIGNUP <img style="position:fixed;" src="{% static 'img/signup.svg' %}" alt="Pen" title="Click to sign up for supervision" height="50px"></a></span></span>
      {% endif %}
</span>{% endfor %}{% endwith %}

<h2>Vertretungen</h2>

{% with supervisors=examination.backup_set.all %}
{% for row in examination.num_backups|get_range %}
<span class="{% cycle 'oddrow' 'evenrow' %}">
{% if forloop.counter0 < supervisors|length %}
    {% with s=supervisors|get_at_index:forloop.counter0 %}
      <a href="{% url "person_detail" username=s.person.username %}">{{s.person.get_nice_name}} </a> <a href="{% url "backup_cancel" ex=s.Examination.id pk=s.id %}?next={{ exam_url|urlencode }}"><img src="{% static "img/trash.svg" %}" alt="Trashcan" title="Click to cancel supervision" height="40px" ></a>
    {% endwith %}
  {% else  %}
      <span{% if examination.backups_needed %} class="highlight"{%endif%}><span class="button"> <a href="{% url "backup_signup" ex=examination.id %}?next={% url 'exam_detail' pk=examination.id %}">SIGNUP <img style="position:fixed;" src="{% static "img/signup.svg" %}" alt="Pen" title="Click to sign up for supervision" height="50px"></a> </span></span>
      {% endif %}
</span>{% endfor %}{% endwith %}


{%if examination.comment %}<h2>Kommentar zur Vorlesung</h2>
{{examination.comment}}{%endif%}
{% endblock %}

