{% extends "base.html" %}{% load helper_tags %}

{% block content %}<h1>{{object.get_nice_name}}'s page</h1>
<h2>Profil</h2>
<table>
  <tr><td>Name:</td><td>{{object.last_name}}, {{object.first_name}}</td><tr>
    <td>Email:</td><td>{{object.email}}</td></tr>
  <tr><td>Telefon:</td><td>{{object.person.phone}}</td>
  <td>Professur/Affilitation:</td><td>{{object.person.chair}}</td></tr>
  <tr><td>Deputat:</td><td>{{object.person.deputat}}</td>
  <td>Aufsicht Übertrag:</td><td>{{object.person.uebertrag}}</td>
  <td>WiMi:</td><td>{{object.person.supervisor}}</td></tr>
  <tr><td>Kommentar:</td><td>{{object.person.comment}}</td></tr>
</table>
<br/><a href="{% url 'password_change' %}">Change my password</a>

<h2>Meine Aufgaben</h2>
Aufsicht SOLL: {{ object.person.supervision_h_required|floatformat }}
Aufsicht IST: {{ object.person.supervision_h_signed_up }} ({{ object.person.supervision_h_signed_up_no_uebertrag }} + {{object.person.uebertrag}} Übertrag)<br/>
<b>Noch zu leisten: <span class="highlight">{{ object.person.supervision_h_required|subtract:object.person.supervision_h_signed_up|floatformat}}</span></b><br/>
Vertretungen: {{ object.person.num_backups}} von {{object.person.backups_shall}}.

<h2>Meine Klausurenaufsichten</h2>
<table>
    <tr><th>Name</th><th>Dozent</th><th>Datum</th><th>Zeit</th><th>Raum</th><th>Aufsichten</th><th>Vertretungen</th><th>Kommentar</th></tr>
  {% for exam in examination_list %}
    <tr class="{% for s in exam.supervision_set.all %}{%if s.person.id == object.person.id %} oddrow{%endif%}{%endfor%}"><td><a href="{{exam.get_absolute_url}}">{{exam.subject}}</a></td><td><a href="{% url "person_detail" username=exam.lecturer %}">{{exam.lecturer.last_name}}</a></td><td>{{ exam.starttime|date:"SHORT_DATE_FORMAT" }}</td><td>{{exam.starttime|date:"H:i"}}-{{exam.endtime|date:"H:i"}}</td><td>{{exam.rooms}}</td><td{% if exam.signup_needed %} class="highlight">{{exam.supervision_set.all.count}} / {{exam.num_supervisors}}<br/>{%else%}>{%endif%}{% for s in exam.supervision_set.all %}{{s.person.get_nice_name}}<br/>{%endfor%}</td><td{% if exam.backups_needed %} class="highlight"{%endif%}>{% if exam.backups_needed %}{{exam.backup_set.all.count}} / {{exam.num_backups}}<br/>{%endif%}{% for s in exam.backup_set.all %}{{s.person.get_nice_name}}<br/>{%endfor%}</td><td>{{exam.comment}}</td></tr>
  {% empty %}
    No Examinations added yet.
  {% endfor %}
  </table>
{% endblock %}

