{% extends "base.html" %}{% load helper_tags %}

{% block content %}<h1>Liste der Aufsichten</h1>
<table>
    <tr><th>Name</th><th>Chair</th><th>Soll (Std)</th><th>Ist (Std)</th><th>Diff (Std)</th><th># Vertretungen</th></tr>
    {% for p in person_list %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}"><td><a href="{% url 'person_detail' username=p.user %}">{{ p.user.get_nice_name }}</a></td><td>{{ p.chair }}</td><td>{{ p.supervision_h_required }}</td><td>{{ p.supervision_h_signed_up }}</td><td>{{ p.supervision_h_required|subtract:p.supervision_h_signed_up|floatformat }}</td><td>{{p.num_backups}}</td></tr>
  {% empty %}
    <tr><td>No Persons added yet.</td></tr>
  {% endfor %}
  </table>
{% endblock %}

