dummy{#ff93e2 #b093ff #ffd793 #e2ff93}
body {
    background-color: #ecffbc;
    font-family: Verdana, sans-serif;
}
h1,h2 {font-family: Arial, Helvetica, sans-serif;}

div#header h1 {
    background-color: #ffd793;
    font-variant: small-caps;
    text-shadow: 2px 3px #ff93e2;
    font-size: 140%;
    text-align: center;
}

div#sidebar {
    position: absolute;
    background-color: #ecffbc;
    right: 0px;
    margin-right: 0.5em;
    font-size: 60%;
    border: 1px solid gray;
}
#sidebar ul{
    padding: 2px;
    list-style-position: inside;
    list-style-type: square;
}

div#content h2 {
    font-size: large;
    text-shadow: 2px 3px #ff93e2;
    border-bottom: red solid 10px;
}

div#footer {
    font-size: 60%;
    text-align: center;
}

.oddrow {
  background-color: #DDE33B;}
.evenrow {background-color: #FAC832;}
.highlight {background-color: red;}

td,th  {padding: 0.15em; border-width:0; margin:0;}
th {border: 1px gray solid;}

ul.messages {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 0px;
    font-size: large;
    font-weight: bold;
    border: red 5px solid;}

ul.messages li{padding-left:1em;}

ul.messages li.error{background-color: red;}
ul.messages li.warning{background-color: yellow;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}
