{% load staticfiles %}<html><head>
  <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
{% block extra_head %}{% endblock %}</head>
  <body>
    {% if messages %}<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>{% endif %}
  <div id="header">{% block header %}<h1>Klausuren in der SozÖk/BWL</header>{% endblock %}</div>
<div id="sidebar">{% block sidebar %}<h1>Navigation</h1>
  <ul>
    <li><a href="{% url "exam_list" %}">Klausuren</a></li>
    <li><a href="{% url "person_list" %}">Personen</a></li>
    <li><a href="{% url "dashboard" %}">Dashboard</a></li></ul>
  <h1>Admin</h1><ul>{% if user.is_authenticated %}<li><a href="{% url "user_home" %}">{{user}} home</a></li><li><a href="{% url 'logout' %}">Logout</a></li>{% else %}<li><a href="{% url 'login' %}">Login</a></li>{% endif  %}<li><a href="/admin">Admin</a></li></ul>{% endblock %}</div>
  <div id="content">{% block content %}Content here{% endblock %}</div>
  <div id="footer">{% block footer %}<div><hr/>Powered by <a href="https://gitlab.com/sspaeth/Superweiss">Superweiss</a>, licensed under the GNU GPL v3{% endblock %}</div></div>
</body></html>
