{% extends "base.html" %}

{% block content %}<h1>Klausuren der Sozialökonomie/BWL</h1>
<ul>
  <li><a href="{%url "person_list" %}">Liste der Personen</a></li>
  <li><a href="{%url "exam_list" %}">Liste der Klausuren</a></li>
</ul>

<h2>Im {{cur_term}}</h2>
{{num_exams}} Klausuren benötigen {{num_supervisors}} Aufsichten ({{num_supervisors_h}} Std.). Dazu kommen {{tot_uebertrag}} Stunden Korrektur durch Übernahme vom vorigen Semester.<br/>
{{num_wimi}} WiMi haben {{num_dep}} SWS Gesamtlehre. Daraus folgt ein Aufsichtsbedarf von {{sup_per_dep|floatformat}} Stunden Aufsicht/SWS Deputat.
{% endblock %}

